<%= render '/shared/nav' %>

<div class="container-fluid bg-primary py-5">
    <h2 class="d-flex justify-content-center orange"><%= @activity.name.capitalize %></h2> 
    <hr> 
    <div class="card bg-primary m-5">
    <div class="row">
        <div class="col-md-8">
            <%= image_tag asset_path(@activity.image), class: "card-img-top" %>
            
        </div>
        <div class="col-md-4">
        <div class="card-body">
            <p class="card-text text-white"><%= @activity.description%></p>
        </div>
        </div>
    </div>
    
    </div>
    <div class="pb-5 d-flex justify-content-center align-items-center">
    <%= link_to 'Back', index_path, class: "btn btn-primary mx-3" %>
    <%= link_to 'Edit activity', edit_path, class: "btn btn-primary" %>
    </div>
</div>

<%= render '/shared/footer' %>
